.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #ffffff;
  color: #222;
  line-height: 1.6;
}


.navbar {
  position: sticky;
  top: 0;
  background: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
}

.navbar li:hover {
  color: #ff7a00;
}

.navbar a {
  text-decoration: none;
  color: #222;
}

.navbar a:hover {
  color: #ff7a00;
}
html {
  scroll-behavior: smooth;
}
.section {
  padding: 80px 60px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
button {
  padding: 12px 25px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button:first-of-type {
  background: #ff7a00;
  color: white;
}

button:last-of-type {
  background: transparent;
  border: 2px solid #ff7a00;
  color: #ff7a00;
}
